<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <title>Pf Target Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="./style_general.css">
  </head>
  <body>
		<div class="topnav">
			<a href="./about">About</a>
			<a href="./genelist">Gene List</a>
			<form action="search">
				<input type="search" name="q" id="searchbar" placeholder="Search...">
			</form>
		</div>
		<div class="general-page">
    {{{body}}}
		</div>
  </body>
</html>